<div>
    <h1>New product:</h1>
    <form id="productForm">
        <label  for="name" >Name</label>
        <input id="name" name="name">
        <label for="description">Description</label>
        <input id="description" name="description">
        {{!-- <label>Thumbnail</label> --}}
        <label for="category">Category</label>
        <input id="category" name="category">
        <label for="brand">Brand</label>
        <input id="brand" name="brand">
        <label for="price">Price</label>
        <input id="price"  name="price">
        <label for="stock">Stock</label>
        <input id="stock" name="stock">
        <label for="image">Thumbnail</label>
        <input id="image" type="file" name="image">
        <input type="submit">
    </form>
</div>
<script src="js/createProduct.js"></script>