<div>
    <h1>Login:</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        <input type="password" name="password">
        <input type="submit" >
    </form>
    <a href="/">Si no tienes usuario registrate aquí :D</a>
</div>
<script src="/js/login.js"></script>